.banner {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  padding: 200px 0px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.banner h1 {
  font-size: 50px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  /*text-align: center;*/
}

.banner p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 40px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  /*text-align: center;*/
}

.btn {
  background-color: #b80072;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.9;
  text-align: center;
}

.btn:hover {
  background-color: #FFFFFF;
  opacity: 0.9;
  color: #b80072;
}
